<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Game | Chess App</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <h1 id="main-headline"><u>CHESS</u></h1>

    <table id="main-board">
        
    </table>

    <div id="promotion-board">

    </div>

    <div id="notation-box">
        
    </div>

    <p id="winning-text">No one won!</p>

    <button id="return-button" class="call-buttons"><--  |  Return</button>

    <button id="replay-button" class="call-buttons">Replay?</button>

    <script src="../static/script.js"></script>
</body>
</html>
