<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Chess App</title>
    <link rel="stylesheet" href="../static/main_page.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <h1 id="main-headline"><u>WELCOME!</u></h1>

    <p id="welcome_text">Who would you like to play against?</p>

    <button id="local_button">Local</button>
    <button id="bot_button">Bot</button>

    <script src="../static/main_page.js"></script>
</body>
</html>
